html,body{
  font-family: 'Yu Gothic UI','メイリオ', Meiryo,sans-serif;
  margin: 0;
  height: 100%;
  background: #B4FFF7;

}
header,footer{
  height: 8%;
  background:#00C9BB;

}
.top,.about,.main,.hello{
  width:960px;
  margin-left: auto;
  margin-right: auto;
}
.main-section{
  height:68%;
  text-align: center;
}
.hello-section{
  height: 62%;
}
.about-section{
  height: 65%;
}

.olibe-section{
  height: 40%;
}
.top-section{
  height: 92%;
  text-align: center;
}
/* header */
header{

}
header img{
  padding-top: 2px;
  padding-left: 5px;
}
.header-left{
  padding: 0.5% auto auto 1%;
  display: inline-block;
}
.header-right{
  float: right;
  padding-top: 20px;
  padding-right: 10px;
  display: inline-block;
}
.nav-unshown {
  display:none;
}
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: white;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #00C9BB;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
#nav-content{

}

#nav-content ul{
  text-align: center;
  list-style: none;
  padding-left: 0;
}
#nav-content li{
  padding-top: 10px;
  font-size: 40px;
  color: #B4FFF7;
  cursor:pointer;
}
#nav-content li a{
  color: #B4FFF7;
  text-decoration: none;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

  /* top */
.top-section{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.top{
  text-align: center;
  height: 92%;
}
.top-title{
  margin-top: 15%;
}
.top-next{
  padding-top: 18%;
}
/* about */
.about{
  line-height: 50px
}
.about-title{
  font-size: 50px;
  margin-bottom: 0;
  text-align: center;
}
.about-left{
  text-align: left;
  display:inline-block;
  margin: 2% 10%;
}
.about-left img{
  width: 120%;
  height: 120%;

}
.about-right{
  float: right;
  display:inline-block;
  margin: 7% 0;
}
.about-right h1{
  font-size: 200%;
}
.about-right p{
  font-size: 150%;
}
/* olive */
.olibe-section{
  background: url('../img/olibe.jpg');
  background-size: cover;
}
.olibe{
  width: 100%;
}
/* main */
.main{
  height: 100%;
  text-align: center;
  border-bottom: dashed 2px orange;
}
.main-title{
  font-size: 50px;
  margin-bottom: 0;
}
.child{
  margin-top: 40px;
  float: left;
  width: 33%;
}
.child ul{
  list-style: none;
}

/* hello */
.hello{
  height: 92%;
  padding-top: 20px;
  line-height: 50px
}
.contact-title{
  font-size: 50px;
  margin-bottom: 7px;
  margin-top: 0;
  text-align: center;
}
.hello-right{
  display:inline-block;
  float: right;
}
.hello-right img{
  padding-right: 50px;
}
.panhei{
  margin-top: 0;
  padding-bottom: 10px;
  padding-right: 50px;
  text-align: center;
}
.hello-left{
  background: url('../img/hukidashi.png')no-repeat 0 0;
  background-size: 100%;
  display:inline-block;
  float: left;
  position: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  text-align: center;
  padding-right: 5%;
  padding-top: 5%;
}
.hukidashi{
  font-size: 20px;
  letter-spacing:5px;
}
.hello-left img{
  width: 550px;
  padding-left: 110px;
}
.nakami{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.Twitter{
  background: #00aced ;
  color:white;
}
.Instagram{
  background: #c13584;
  color: white;
}
/* footer */
footer img{
  padding-top: 2px;
  padding-left: 5px;
}
